<% content_for :body_content_title do %>
  <%= @podcast.title %>: 
  <br/>
  <%= @podcast.subtitle %>
  <br/>
  by <%=raw @podcast.author %>
<% end %>

<%= javascript_include_tag "swfobject" %>

<% content_for :body_content_left do %>
  <section>
    <%=raw @podcast.summary %>
  </section>
  
<% end %>

<% content_for :body_content_right do %>
  <section>
    <%if @podcast.file%>
      <%= player(:file => @podcast.file.url, :plugins => "gapro-1&gapro.accountid=UA-20289850-1") %>
    <%end%>
  </section>
<% end %>

<%= render :partial => "/shared/content_page" %>