<% content_for :body_content_title do %>
  <%= @podcast.title %>: 
  <br/>
  <%= @podcast.subtitle %>
  <br/>
  by <%=raw @podcast.author %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <%=raw @podcast.summary %>
  </section>
  
<% end %>

<% content_for :body_content_right do %>
  <section>
    <%if @podcast.file%>
      <%= link_to "Listen", @podcast.file.url %>
    <%end%>
  </section>
<% end %>

<%= render :partial => "/shared/content_page" %>